.card {
  align-items: center;
  background-color: $white;
  border-color: $black;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  width: 200px;
}

.card__shape {
  width: 60%;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &--red {
    @include color($red);
  }

  &--green {
    @include color($green);
  }

  &--blue {
    @include color($blue);
  }
}
